.input-symbol-euro {
    position: relative;
  }

  .input-symbol-euro input {
    padding-left: 30px;
  }

  .input-symbol-euro:before {
    position: absolute;
    top: 36;
    left: -20;
    content: "$";
    color: white;
    margin-right: 30px
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }